<connectionStrings>
  <add name="ChinookDB"
       connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true;"
       providerName="System.Data.SqlClient"/>
  <!--the DEFAULTCONNECTION string is used by security
  alter the data source and initial catelog values to point too your databases-->
  <add name="DefaultConnection" 
       connectionString="Data Source=.;Initial Catalog=Chinook;Integrated Security=True" 
       providerName="System.Data.SqlClient" />
</connectionStrings>
